.main{
    /* text-align: center; */
    margin-left: 450px;
    margin-bottom: 150px;
}

.head{
    text-align:center;
    color: rgb(50, 173, 204);
    text-decoration: underline 1px black;
}

.login{
    width: 300px;
    margin: 50px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial,sans-serif;
    background-color: white;
  }
  
  .login input{
    width: 100%;
    padding: 10px;
    margin:10px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
  }
  
  .login button {
    width: 80px;
    padding: 10px;
    margin-left: 120px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .login p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: green;
  }
  